.linkCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    position: relative;
    text-decoration: none;
    padding: 25px;
    transition: .5s;
    letter-spacing: 10px;
    font-size: 30px;
    

    

    h2 {
        font-size: 2em;
        
        text-align: center;
        color: white;
    }

    &::after {
        position: absolute;
        left: 0;
        top: 0;
        content: "";
        width: 0%;
        height: 100%;
        transition: .3s ease-out;
        background-color: #ffa207;
        opacity: 1;
        z-index: -10;
    }

    &:hover::after {
        width: 30%;
    }

    .logo {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

.linkCard:hover {
    cursor: pointer;
    scale: 1.1;
}

@media screen and (max-width: 500px) {
    .linkCard:active {
        opacity: .4;
    }
    
}