*,*::after,*::before {
  box-sizing: border-box;
  list-style-type: none;
  border: none;
  padding: 0;
  margin: 0;
}

body {
  max-width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-image: url("../../public/G148wallpaper.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

body::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #121212;
  z-index: -10;
  opacity: .5;
}

